.main {
  display: flex;
  height: 100vh;
}

.login_animation_container {
  flex: 2;
  position: relative;
  background: linear-gradient(to bottom, #333A73, #FBA834);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_form_container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.shop_logo {
  max-width: 100%; 
  height: auto; 
  border-radius: 100%;
}





