.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333A73;
}

.header h1 {
    margin: 0;
    padding: 0;
    color: #FBA834;
}

.header button {
    background-color: #FBA834;
    border: none;
    padding: 0.5rem 1rem;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
}

.header button:hover {
    background-color: #005bb5;
}

.header button a {
    text-decoration: none;
    color: black;
}

.header button a:hover {
    text-decoration: none;
    color: white;
}

.main {
    background-color: #333A73;
    height: 100vh;
}

.tableContainer {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #ddd;
}

.table a {
    color: #007bff;
    text-decoration: none;
}

.table a:hover {
    text-decoration: underline;
}
